
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --header-background: 222 47% 11%;
    --header-foreground: 210 40% 98%;

    --card: 240 4.8% 95.9%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262 84% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 262 84% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 262 84% 60%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 40% 98%;

    --header-background: 222 47% 11%;
    --header-foreground: 210 40% 98%;

    --card: 224 71.4% 4.1% / 0.7;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 6%;
    --popover-foreground: 210 40% 98%;
    --primary: 262 84% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 262 84% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 262 84% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .dark body {
    background-color: #020617;
  }
}

@layer utilities {
  .task-card {
      opacity: 0;
      transform: translateY(20px);
      animation: slide-and-fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
  @keyframes slide-and-fade-in {
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }

  .btn-bounce {
    @apply transition-transform duration-200 ease-in-out hover:scale-105 active:scale-95;
  }

  .badge-squish {
    @apply px-2 py-0.5 text-xs;
  }
}
