
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Inspired by the new design system */
    --background: 200 60% 99%; /* --body-color: #FBFEFD; */
    --foreground: 240 10% 3.9%; /* --title-color: #393939; */

    --header-background: 222 47% 11%;
    --header-foreground: 210 40% 98%;

    --card: 0 0% 100%; /* --container-color: #FFFFFF; */
    --card-foreground: 240 10% 3.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --primary: 158 95% 31%; /* --first-color: #069C54; */
    --primary-foreground: 210 40% 98%;
    
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%; /* --text-color-light: #A6A6A6; */
    
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 158 95% 31%;
    
    --radius: 0.8rem;
  }
  .dark {
    /* Inspired by the new dark theme */
    --background: 150 11% 12%; /* --body-color: #1D2521; */
    --foreground: 156 13% 81%; /* --text-color: #C7D1CC; */

    --header-background: 222 47% 11%;
    --header-foreground: 210 40% 98%;

    --card: 156 10% 17%; /* --container-color: #27302C; */
    --card-foreground: 160 8% 95%; /* --title-color: #F1F3F2; */
    
    --popover: 150 11% 12%;
    --popover-foreground: 160 8% 95%;
    
    --primary: 158 95% 31%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 156 10% 17%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 156 10% 17%;
    --muted-foreground: 156 13% 81%;
    
    --accent: 156 10% 17%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 156 10% 17%;
    --input: 156 10% 17%;
    --ring: 158 95% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    position: relative;
    overflow-x: hidden;
  }
}

@layer utilities {
  .task-card {
      opacity: 0;
      transform: translateY(20px);
      animation: slide-and-fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
  @keyframes slide-and-fade-in {
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }

  .btn-bounce {
    @apply transition-transform duration-200 ease-in-out hover:scale-105 active:scale-95;
  }

  .badge-squish {
    @apply px-2 py-0.5 text-xs;
  }
}
