
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 98%;
    --foreground: 224 71.4% 4.1%;

    --header-background: 240 10% 98%;
    --header-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100% / 0.6;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91% / 0.8;
    --input: 220 13% 91%;
    --ring: 217 91% 60%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 40% 98%;

    --header-background: 222 47% 11%;
    --header-foreground: 210 40% 98%;

    --card: 222 47% 11% / 0.8;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 6%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dark body {
    background-color: #020617;
  }
}

@layer utilities {
  .task-card {
      opacity: 0;
      transform: translateY(20px);
      animation: slide-and-fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
  @keyframes slide-and-fade-in {
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }
}
